<!DOCTYPE html>
<html lang="en" ng-app="playingCards">
<head>
    <meta charset="UTF-8">
    <title>Playing Cards</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/drag-and-drop.css">
    <script type="application/javascript" src="js/angular.min.js"></script>
    <script type="application/javascript" src="js/angular-drag-and-drop-lists.min.js"></script>
    <script type="application/javascript" src="js/angular-route.min.js"></script>
    <script type="application/javascript" src="js/angular-cookies.min.js"></script>
    <script type="application/javascript" src="app/playing_cards.js"></script>
    <script type="application/javascript" src="app/app.js"></script>
</head>
<body ng-controller="ctrl">
<div ng-view></div>
<div class="navbar navbar-default" id="navbar">
    <a href="#" class="btn btn-sm btn-danger">Logout</a>
</div>
<div class="container">
    <div class="col-sm-12">
        <!--<div dnd-list="cardsOnBoard">-->
            <div ng-repeat="card in cardsOnBoard"
                 ng-include="'/templates/card.html'"
                 dnd-draggable="card"
                 dnd-moved="cardsOnBoard[$index].length=0"
                 dnd-effect-allowed="move"
                 ng-class="selected">
            </div>
        <!--</div>-->
        <div dnd-list="spadeContainer">
            Spade
            <div ng-repeat="card in spadeContainer"
                 ng-include="'/templates/card.html'"
                 dnd-draggable="card"
                 dnd-moved="cardsOnBoard[$index].length=0"
                 dnd-effect-allowed="move"
                 ng-class="selected">
            </div>
        </div>
        <div dnd-list="diamondContainer">
            Diamond
            <div ng-repeat="card in diamondContainer"
                 ng-include="'/templates/card.html'"
                 dnd-draggable="card"
                 dnd-moved="cardsOnBoard[$index].length=0"
                 dnd-effect-allowed="move"
                 ng-class="selected"></div>
        </div>
        <div dnd-list="clubContainer">
            Club
            <div ng-repeat="card in clubContainer"
                 ng-include="'/templates/card.html'"
                 dnd-draggable="card"
                 dnd-moved="cardsOnBoard[$index].length=0"
                 dnd-effect-allowed="move"
                 ng-class="selected">
        </div>
        <div dnd-list="heartContainer">
            Heart
            <div ng-repeat="card in heartContainer"
                 ng-include="'/templates/card.html'"
                 dnd-draggable="card"
                 dnd-moved="cardsOnBoard[$index].length=0"
                 dnd-effect-allowed="move"
                 ng-class="selected">
        </div>
    </div>
</div>
</body>
</html>